.blog__cloud {
  border: 1px solid #000;
  padding: 15px;
  margin: 30px 0;
  border-radius: 15px;
  width: 100%;
  min-width: 100%;
  box-shadow: 10px 10px 10px rgb(167, 166, 166);
  background: #fff;
}

.blog__header {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.blog__body {
  padding-bottom: 20px;
  font-size: 18px;
}

.blog__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: rgb(56, 56, 56);
}

.blog__cross {
  display: flex;
  justify-content: end;
}
.blog__cross span {
  color: red;
  cursor: pointer;
  font-size: 30px;
  width: 100%;
  max-width: 20px;
  fill: red;
}

.blog__cross span:hover {
  animation: shake 0.3s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  25% {
    transform: translate(1px, 1px) rotate(5deg);
  }

  50% {
    transform: translate(1px, 1px) rotate(2deg);
  }

  72% {
    transform: translate(1px, 1px) rotate(-2deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(-5deg);
  }
}
